<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/userprofile.css">
</head>

<body>
    <% include ./partials/navbar.ejs %>
    <% if (name == 'admin@admin') { %> <!-- CHANGE_THIS -->
        <div style="background: rgba(255, 255, 255, 0.322);" class="container mt-5 py-2">
                <table class="table table-striped ">
                        <thead>
                          <tr>
                            <th scope="col">Όνομα</th>
                            <th scope="col">Κατηγορία</th>
                            <th scope="col">Περιγραφή</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                        <% products.forEach((product, index) => { %>
                            <tr>
                                <th scope="row"> <a href='/item/<%= product.id %>'><%= product.name %></a></th>
                                <td><%= product.category %></td>
                                <td><%= product.description %></td>
                               <td><a type="button" class="btn btn-primary btn-block" href='/adminPage/DeletePrice/products/<%= product.id %>'>Προσφορές των προϊόντων</a></td>
                                <td>                                
                                <form  action="/adminPage/DeleteProduct/<%= product.id %>" method = "POST">
                                    <button  type="submit" onclick="return confirm('Είσαι σίγουρος ότι θέλεις να διαγράψεις το προϊόν: <%= product.name %> ?')" class='btn btn-danger btn-block'>Διαγραφή Προϊόντος</button>
                                </form>
                            </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>    
                        <a type="button" class="btn btn-primary btn-block" href='/adminPage'>Προφίλ</a>
        </div>  
    <% } else { %>
        <div class=' text-center'>Η σελίδα δεν βρέθηκε, πάτα <a href='/'>εδώ</a> για να μεταφερθείς στην αρχική σελίδα</div>
    <% } %> 
    </div>
</body>