<!doctype html>
<html lang="en">


        <head>
                <meta charset="UTF-8">
                <meta name="viewport"
                    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <!-- Bootstrap 4 -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
                    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <!-- Angular JS -->
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
                <!-- Datatable CSS -->
                <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
            
                <title>
                    <%= title %>
                </title>
                <!-- Title icon -->
                <link rel="shortcut icon" type="image/x-icon" href="/img/title.png">
            
                <!-- Custom styles for this template-->
                <link rel="stylesheet" href="/css/adminPage.css">
            
            </head>
            
<body id="page-top">
    <% include ./partials/navbar.ejs %>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/adminPage">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Δεδομένα</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="/adminPage/DeleteUser">Χρήστες</a>
                    <a class="dropdown-item" href="/adminPage/DeleteShop">Καταστήματα</a>
                    <a class="dropdown-item" href="/adminPage/DeleteProduct">Προϊόντα/Προσφορές</a>
                </div>
            </li>
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Χρήστες</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Όνομα</th>
                                        <th>Κατάστημα</th>
                                        <th>Τιμή</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Όνομα</th>
                                        <th>Τιμή</th>
                                        <th>Κατάστημα</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% prices.forEach((price, index) => { %>
                                    <tr>
                                        <th scope="row"> <a
                                                href='/item/<%= price.productid %>'><%= price.productName %></a></th>
                                        <% if (prices.checked == 1) { %>
                                        <td><%= price.productPrice %></td>
                                        <% } else { %>
                                        <td><%= price.price %></td>
                                        <% } %>
                                        <td><%= price.shopName %></td>
                                        <td>
                                            <form action="/adminPage/DeletePrice/<%= price.id %>" method="POST">
                                                <button type="submit"
                                                    onclick="return confirm('Είσαι σίγουρος ότι θέλεις να διαγράψεις την προσφορα: <%= price.productName %> του καταστήματος <%= price.shopName %> ?')"
                                                    class='btn btn-danger btn-block'>Διαγραφή Προσφοράς</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    
        
        <!-- Core plugin JavaScript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
            integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
        <!-- Page level plugin JavaScript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    
    
        <!-- Custom scripts for all pages-->
        <script src="/js/adminPage.js"></script>
        <script src="/js/dataTable.js"></script>
</body>

</html>