<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/css/shopitem.css">
</head>
<body>
    <% include ./partials/navbar.ejs %>
     <% if (product.withdrawn == 1){ %>
        <div style="background: rgba(255, 255, 255, 0.322);" class="container">
          <h1>Το προϊόν αυτό δεν είναι πλέον διαθέσιμο</h1>
          <a class="btn btn-info" href="/search" role="button">κάνε μία νέα αναζήτηση</a>
        </div>
    <%}
    else{ %>
    <div  class="container">

        <div class="row">
    
          <div style="background: rgba(255, 255, 255, 0.322);" class="col-lg-3">
            <h1 class="my-4"><%= product.name %></h1>
            <div class="list-group">
              <a href="#" class="list-group-item active"><%= product.category %></a>            
                <% tags.forEach((tag, index) => { %>
                <form action="/search/output" method="POST">
                  <input type="hidden" name="search" value="<%= tag.name %>">
                  <button class="list-group-item btn-link flexbox" type="submit" value="tags" name="searchFor[]"
                    value="<%=tag.name%>"><%=tag.name%></button>
                </form>
                <% }) %>
            </div>
          </div>
          <!-- /.col-lg-3 -->
    
          <div class="col-lg-9">
    
            <div  class="card mt-4; text-center">
              <div style="height:300px;overflow:hidden;">
            <img style="max-height: 100%; max-width: 100%; width:auto;"class="card-img-top img-fluid" src="/assets/productsImg/<%= product.id%>.png"
              onerror="this.onerror=null;this.src='/assets/productsImg/default.png'"
              alt="Card image cap">
              </div>
              <div class="card-body">
                <h3 class="card-title"><%= product.name %></h3>
                <%if (product.description == ''){%>
                    <form action="/item/<%=product.id%>" method="POST">
                        <div class="form-group">
                            <input type="newdescription" class="form-control" name="newdescription" id='newdescription' placeholder="Πρόσθεσε περιγραφή. . .">
                        </div>
                        <button type="submit" class="btn btn-info mb-2 "> Πρόσθεσε!</button>
                    </form>
                <%}
                else{%>
                <h4>Περιγραφή</h4>
                <p class="card-text"><%=product.description %></p>
                <%}%>
                
              </div>
            </div>
            <!-- /.card -->
            <div class="row">
              <!-- Map -->
              <div class="col-md-12 my-3" id="map"></div>    
            </div>

            <div style="background: rgba(255, 255, 255, 0.5);" class="card card-outline-secondary my-4">
              <div style="background:white;" class="card-header">
                Που Μπορεί να το βρείς
              </div>
              <div class="card-body">
                <div class="row">
                <% for(var i=0; i < 1; i++) { %>                    
                  <% result.forEach((product, index) => { %>
                  <div class="col-lg-3 col-md-6 mb-4" ng-hide="hideProductPrice[<%=index%>] || hideProductDate[<%=index%>]">
                      <div class="card h-100 text-center productCard">
                          <a href="#"><img class="card-img-top productImage"
                                  src="/assets/productsImg/<%= product.id%>.png"
                                  onerror="this.onerror=null;this.src='/assets/productsImg/default.png'"
                                  alt=""></a>
                          <div class="card-body">
                              <h4 class="card-title"><a href="#"><%= product.name %></a></h4>
                              <h5>€ <%= product.price %></h5>
                              <p class="card-text"><%= product.description %></p>
                          </div>
                          <div class="card-footer">
                              <a href="/shoppage/<%=product.shopId%>"><%= product.shopName%></a>
                          </div>
                      </div>
                  </div>
                  <% }) }%>
                </div>
              </div>
            </div>
            <!-- /.card -->
    
          </div>
          <!-- /.col-lg-9 -->
    
        </div>
    
      </div>
      <!-- /.container -->
    <%}%>
    </body>
    <script> var result = <%- JSON.stringify(result) %> ; </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJaiM1gLI2nYRcZO_PukSgLAXS-E0OaoI"></script>
    <script src="/js/shopItem.js"></script>
    <% include ./partials/footer.ejs %>  

</html>